![header-notebooks.png]()



---

# Instalando bibliotecas

In [ ]:
!pip install pandas
!pip install pymongo
!pip install boto3

# Importando bibliotecas

In [1]:
import numpy as np
import pandas as pd
from io import BytesIO
from pymongo import MongoClient
import boto3
from io import StringIO 
import os

# Inicio tarefa

O que fazer?

Com base no que foi visto em aula e com base nos dados e arquivos tratados na 5ª aula (aula anterior), a atividade consiste, sempre no workspace em Docker, em:

Criar script para ler os datasets em /exercicios/municipios-estados — o script deve:
criar uma pasta nomeada com a sigla da UF para cada estado encontrado no arquivo JSON;
organizar as cidades por estado um único arquivo CSV, nomeado como cidades.csv;
salvar esse arquivo cidades.csv dentro da pasta da UF (estado) correspondente.
Importar as pastas e arquivos salvos para um bucket no MinIO.
Exportar os dados para o MongoDB e visualizá-los a partir do banco de dados.

In [2]:
estados = pd.read_json('./arquivos/estados.json')
# pd.read_csv('./exercicios/municipios-estados/csv/estados.csv')
municipios = pd.read_csv('./exercicios/municipios-estados/csv/municipios.csv')

In [3]:
estados.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

In [4]:
municipios.head()

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo

1. A

In [5]:
estados.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

In [6]:
for each_uf in set(estados['uf']):
    os.makedirs(f'./estados/{each_uf}')

1. B

In [7]:
all_data = municipios.merge(estados, how='left', left_on='codigo_uf',right_on='codigo_uf',suffixes=('_municipio','_estado'))
all_data.head()

,codigo_ibge,nome_municipio,latitude_municipio,longitude_municipio,capital,codigo_uf,siafi_id,ddd,fuso_horario,uf,nome_estado,latitude_estado,longitude_estado,regiao
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo,MG,Minas Gerais,-18.10,-44.38,Sudeste
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo,MG,Minas Gerais,-18.10,-44.38,Sudeste
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo,PA,Pará,-3.79,-52.48,Norte

In [8]:
uf_escolhida = 'GO'
all_data[all_data['uf']==uf_escolhida]

,codigo_ibge,nome_municipio,latitude_municipio,longitude_municipio,capital,codigo_uf,siafi_id,ddd,fuso_horario,uf,nome_estado,latitude_estado,longitude_estado,regiao
0,5200050,Abadia de Goiás,-16.7573,-49.4412,0,52,1050,62,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
2,5200100,Abadiânia,-16.1970,-48.7057,0,52,9201,62,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
27,5200134,Acreúna,-17.3960,-50.3749,0,52,9645,64,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
31,5200159,Adelândia,-16.4127,-50.1657,0,52,9769,64,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
57,5200175,Água Fria de Goiás,-14.9778,-47.7823,0,52,9771,62,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5441,5221908,Varjão,-17.0471,-49.6312,0,52,9639,62,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
5488,5222005,Vianópolis,-16.7405,-48.5159,0,52,9641,62,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
5492,5222054,Vicentinópolis,-17.7322,-49.8047,0,52,9657,64,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
5504,5222203,Vila Boa,-15.0387,-47.0520,0,52,67,61,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste
5513,5222302,Vila Propício,-15.4542,-48.8819,0,52,1068,62,America/Sao_Paulo,GO,Goiás,-15.98,-49.86,Centro-Oeste

1. C

In [9]:
for each_uf in set(estados['uf']):
    
    all_data[all_data['uf']==each_uf].to_csv(f'./estados/{each_uf}/cidades.csv')

# Minio
Cliente para conectar o Minio

In [10]:
{"url":"http://127.0.0.1:9000",
 "accessKey":"jRpLQlPQKkYKkX8x",
 "secretKey":"UaS2qIpp1eQg6l90qZI9qD9d537X86R1",
 "api":"s3v4","path":"auto"}

{'url': 'http://127.0.0.1:9000',
 'accessKey': 'jRpLQlPQKkYKkX8x',
 'secretKey': 'UaS2qIpp1eQg6l90qZI9qD9d537X86R1',
 'api': 's3v4',
 'path': 'auto'}

In [11]:
client = boto3.client('s3', 
    endpoint_url='http://awari-minio-nginx:9000',
    aws_access_key_id='jRpLQlPQKkYKkX8x',
    aws_secret_access_key='UaS2qIpp1eQg6l90qZI9qD9d537X86R1',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

2. Importar as pastas e arquivos salvos para um bucket no MinIO.

In [12]:
for each_uf in set(estados['uf']):
    
    all_data[all_data['uf']==each_uf]#.to_csv(f'./estados/{each_uf}/cidades.csv')
    csv_buffer = StringIO()
    all_data[all_data['uf']==each_uf].to_csv(csv_buffer)
    client.put_object(Body=csv_buffer.getvalue(), Bucket='tarefaaula06', Key=f'estados/{each_uf}/cidades.csv')

### Va ate o Dashboard do Minio para visualizar o seu arquivo.
- Veja que foi criado uma pasta automaticamente
- Faça download do arquivo e verifique o resultado

# MongoDB
Iremos salvar agora o nosso dataFrame em um banco de dados não relacional, apenas para ver que é possivel o pandas salvar o resultados em alguns bancos de dados

3. Exportar os dados para o MongoDB e visualizá-los a partir do banco de dados.

In [6]:
# Load csv dataset
for each_uf in set(estados['uf']):
    
    obj = client.get_object(
        Bucket='tarefaaula06', 
        Key=f'estados/{each_uf}/cidades.csv'
    ).get("Body")

    data = pd.read_csv(obj)

    # Connect to MongoDB

    client_mongodb =  MongoClient("mongodb://root:rootpassword@awari-mongodb:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256")
    db = client_mongodb['tarefas']
    collection = db['mapas']
    data.reset_index(inplace=True)
    data_dict = data.to_dict("records")
    # Insert collection
    collection.insert_many(data_dict)
    data

   index Unnamed: 0  macas  laranjas
0      0       Alex      3         0
1      1    Roberto      2         3
2      2   Bernardo      0         7
3      3      Paulo      1         2

# Você pode usar o Studio 3T para visualizar os dados no mongoDB

![Studio 3T](arquivos/imgs/studio3t.png)

In [7]:
# Salvando data set organizando por pastas no Minio

df = pd.read_csv('arquivos/customers.csv')

df

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

In [8]:
df = df.fillna("-") # Nós precisamos atrelar o resultado a variavel principal
profissoes = df['Profession'].drop_duplicates()
profissoes

0        Healthcare
1          Engineer
3            Lawyer
4     Entertainment
5            Artist
12        Executive
14           Doctor
16        Homemaker
54        Marketing
79                -
Name: Profession, dtype: object

In [9]:
for row in profissoes:
    df_by_profession = df.query("Profession == '" + row + "'")
    
    if row == "-":
        folder_name = 'empty'
    else:
        folder_name = row
        
    csv_buffer = StringIO()    
    csv = df_by_profession.to_csv(csv_buffer)
    client.put_object(Body=csv_buffer.getvalue(), Bucket='aula-06', Key=f'datalake/{folder_name}/{folder_name}.csv')

---

Notebook utilizado para fins educacionais da **Awari**.

**© AWARI. Todos os direitos reservados.**