<h1> O que fazer? </h1>

A atividade vai ao encontro do que foi visto em aula, sobre tratamento e limpeza de dados usando Pandas. O passo a passo consiste em:

- Fazer download do dataset Top Youtube Artists, do Kaggle. 
- Tratar as colunas sem informação adicionando o texto “Não informado”.
- Formatar a coluna de total de inscritos multiplicando por 100 milhões.
- Formatar coluna “AVG” para 2 casas decimais depois da vírgula.
- Mostrar os top 10 usuários.
- Mostrar primeiros 100 usuários por nome decrescente.
- Salvar um novo CSV com a informação tratada.

In [2]:
import pandas as pd

In [6]:
df_top_you_tube = pd.read_csv('./topyoutube.csv', )
print(df_top_you_tube.shape)
df_top_you_tube.head()

(1587, 4)

          Artist Total Views  100M     Avg
0            BTS    27,947.9  63.0   7.370
1      Bad Bunny    27,573.4  66.0  14.555
2  Justin Bieber    27,399.7  37.0   3.986
3     Ed Sheeran    26,894.0  39.0   4.609
4   Taylor Swift    24,350.0  38.0   5.716

In [7]:
df_top_you_tube.describe()

              100M          Avg
count  1416.000000  1587.000000
mean      4.971045     0.615060
std       6.707931     1.150928
min       1.000000     0.004000
25%       1.000000     0.102500
50%       2.000000     0.239000
75%       6.000000     0.633500
max      66.000000    21.626000

In [26]:
df = df_top_you_tube.copy()

In [27]:
df = df.fillna('Não Informado')

In [28]:
# transformandos a coluna de inscritos (na verdade é de visualizações) em númerica e tratando as colunas de milhares
df['Total Views'] = df['Total Views'].apply(lambda x: x.replace(',','')).astype(float)
# mulitplicando por 100 milhões
df['Total Views'] = df['Total Views'].apply(lambda x : x * (1000000))

In [47]:
df['Total Views']

0       2.794790e+10
1       2.757340e+10
2       2.739970e+10
3       2.689400e+10
4       2.435000e+10
            ...
1582    2.041000e+08
1583    2.032000e+08
1584    2.011000e+08
1585    2.008000e+08
1586    2.005000e+08
Name: Total Views, Length: 1587, dtype: float64

'111//////2222/////////22'

In [44]:
df['Total Views'].apply(lambda x: x)

0       1.279479e+11
1       1.275734e+11
2       1.273997e+11
3       1.268940e+11
4       1.243500e+11
            ...
1582    1.002041e+11
1583    1.002032e+11
1584    1.002011e+11
1585    1.002008e+11
1586    1.002005e+11
Name: Total Views, Length: 1587, dtype: float64

# Arredondando a média

In [31]:
df['Avg'] = df['Avg'].round(2)

In [41]:
df['Avg']

0        7.37
1       14.56
2        3.99
3        4.61
4        5.72
        ...
1582     0.02
1583     0.02
1584     0.04
1585     0.02
1586     0.04
Name: Avg, Length: 1587, dtype: float64

In [32]:
# Top 10 do dataframe
df.head(10)

          Artist   Total Views  100M    Avg
0            BTS  2.794790e+10  63.0   7.37
1      Bad Bunny  2.757340e+10  66.0  14.56
2  Justin Bieber  2.739970e+10  37.0   3.99
3     Ed Sheeran  2.689400e+10  39.0   4.61
4   Taylor Swift  2.435000e+10  38.0   5.72
5        Shakira  2.396180e+10  43.0   7.84
6     Katy Perry  2.355340e+10  25.0   3.18
7          Ozuna  2.252480e+10  49.0   4.93
8         Eminem  2.093770e+10  38.0   5.84
9  Ariana Grande  2.061850e+10  37.0   3.37

In [40]:
# primeiro 100 artistas
first_100_artists_by_name = set(df.sort_values('Artist')['Artist'][0:100])
print(f'Check unicos: {len(first_100_artists_by_name)}')
first_100_artists_by_name

Check unicos: 100

{'(G)I-DLE',
 '2 Chainz',
 '21 Savage',
 '25hours',
 '2CELLOS',
 '2NE1',
 '2PM',
 '2Pac',
 '3 Doors Down',
 '365 DaBand',
 '3OH!3',
 '4 Non Blondes',
 '4Minute',
 '5 Seconds of Summer',
 '50 Cent',
 '6ix9ine',
 'A Boogie wit da Hoodie',
 'A Great Big World',
 'A$AP Rocky',
 'A.R. Rahman',
 'AAA',
 'AC/DC',
 'AKB48',
 'AOA',
 'AWOLNATION',
 'Aaliyah',
 'Aastha Gill',
 'Abba',
 'Abel Pintos',
 'Abraham Mateo',
 'Abu',
 'Ace Hood',
 'Ace of Base',
 'Adam Lambert',
 'Adel Tawil',
 'Adele',
 'Adexe & Nau',
 'Aerosmith',
 'Afrojack',
 'Afroman',
 'After School',
 'Ahmed Chawki',
 'Ailee',
 'Aitana',
 'Akcent',
 'Akcent (Romania)',
 'Akon',
 'Alan Walker',
 'Alanis Morissette',
 'Alec Benjamin',
 'Alejandra Guzmán',
 'Alejandro Fernández',
 'Alejandro Sanz',
 'Alemán',
 'Alessandra Amoroso',
 'Alessia Cara',
 'Alesso',
 'Alex Campos',
 'Alex Clare',
 'Alex Mica',
 'Alex Rose',
 'Alex Sensation',
 'Alexandra Stan',
 'Alexio La Bestia',
 'Alexis y Fido',
 'Aleyna Tilki',
 'Alice Cooper',
 'Alice Merton',
 'Alicia Keys',
 'Alien Ant Farm',
 'Alka Yagnik',
 'Alkilados',
 'Alle Farben',
 'Alligatoah',
 'Aloe Blacc',
 'Alok',
 'Alonzo',
 'Altamash Faridi',
 'Alvaro Soler',
 'Amenazzy',
 'American Authors',
 'Aminé',
 'Amir',
 'Amit Kumar',
 'Amit Mishra',
 'Amr Diab',
 'Amy Macdonald',
 'Amy Winehouse',
 'Ana Carolina',
 'Anahí',
 'Anastacia',
 'Anastasija Ražnatović',
 'Anavitória',
 'Anaïs Delva',
 'Andra',
 'Andrea Bocelli',
 'Andreas Gabalier',
 'Andrés Cepeda',
 'Andy & Lucas',
 'Andy Rivera'}

In [56]:
# Para exportar df tratado
df.to_csv('df_tratado.csv')